#!/bin/zsh

alias py="python3"
alias l="ls -A"
alias nv="nvim"
alias lg="ls | grep"
alias ds="docker ps -q | xargs docker stop"
alias bup="
touch ~/temp_dock
defaults export com.apple.dock ~/temp_dock
brew upgrade
defaults import com.apple.dock ~/temp_dock
rm ~/temp_dock
killall Dock"
alias ctl="TEST_LOG=true cargo test | bunyan" # cargo test "logging"
alias cfg='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

alias g=git

# more ways to ls
alias ll='ls -lh'

# misc
alias zdot='cd ${ZDOTDIR:-~}'
alias zrc="nv /Users/stephen/.config/zsh/.zshrc"
alias ali="nv + /Users/stephen/.config/zsh/.aliases"
alias src="source $ZDOTDIR/.zshrc"
