"*":
  "atom-alignment":
    addSpacePostfix: true
    alignBy: [
      "->"
      ":="
      ":"
      "="
      "|"
    ]
    alignmentSpaceChars: [
      "->"
      ":="
      "="
      ":"
      "|"
    ]
  "atom-beautify":
    general:
      _analyticsUserId: "d4b06cfe-30de-4466-99aa-46927f617fa9"
  "atom-latex":
    bibtex: "biblatex"
    build_after_save: false
    preview_after_build: "Do nothing"
  "autocomplete-plus":
    confirmCompletion: "enter"
    fileBlacklist: [
      "*.txt"
      "*.md"
    ]
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "autocomplete-python"
      "markdown-preview"
    ]
    packagesWithKeymapsDisabled: [
      "atom-latex"
      "bracket-matcher"
      "atom-alignment"
      "align-by"
      "atom-beautify"
    ]
    telemetryConsent: "limited"
  "cursor-history":
    excludeClosedBuffer: true
  editor:
    fontSize: 12
    preferredLineLength: 80
    scrollPastEnd: true
    scrollSensitivity: 50
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "5a5fb2f3-717a-4143-b65d-4cd1cc964f84"
  "git-diff":
    showIconsInEditorGutter: true
  jumpy:
    useHomingBeaconEffectOnJumps: false
  latex: {}
  "markdown-preview":
    breakOnSingleNewline: true
  "markdown-preview-plus":
    markdownItConfig:
      breakOnSingleNewline: true
    previewConfig:
      closePreviewWithEditor: false
    saveConfig:
      saveToPDFOptions: {}
  "pdf-view":
    fitToWidthOnOpen: true
    reverseSyncBehaviour: "Double click"
  "status-bar": {}
  tabs:
    addNewTabsAtEnd: true
    alwaysShowTabBar: false
    enableVcsColoring: true
  "theme-switch":
    profiles: [
      "one-dark-ui one-dark-syntax"
      "one-light-ui one-light-syntax"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    keymapCCToChangeInnerSmartWord: true
    keymapYToYankToLastCharacterOfLine: true
    sequentialPaste: true
    useSmartcaseForFind: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".python.regexp.source":
  editor:
    tabLength: 2
".python.source":
  editor:
    autoIndent: true
